<a href="https://colab.research.google.com/github/JDPrabasha/scikit/blob/main/HeartDisease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

## Step 1: Load data from txt

In [29]:
url="https://raw.githubusercontent.com/JDPrabasha/scikit/main/SAheart.data.txt"
chd_data=pd.read_csv(url,delimiter=",",header=0)
chd_data.head(8)

   row.names  sbp  tobacco   ldl  adiposity  ... typea  obesity  alcohol  age  chd
0          1  160    12.00  5.73      23.11  ...    49    25.30    97.20   52    1
1          2  144     0.01  4.41      28.61  ...    55    28.87     2.06   63    1
2          3  118     0.08  3.48      32.28  ...    52    29.14     3.81   46    0
3          4  170     7.50  6.41      38.03  ...    51    31.99    24.26   58    1
4          5  134    13.60  3.50      27.78  ...    60    25.99    57.34   49    1
5          6  132     6.20  6.47      36.21  ...    62    30.77    14.14   45    0
6          7  142     4.05  3.38      16.20  ...    59    20.81     2.62   38    0
7          8  114     4.08  4.59      14.60  ...    62    23.11     6.72   58    1

[8 rows x 11 columns]

## Step 2: Preprocess Data

In [30]:
chd_data=chd_data.set_index("row.names")

In [31]:
chd_data['famhist'] = chd_data['famhist'].eq('Present').astype(int)
chd_data.head()

           sbp  tobacco   ldl  adiposity  ...  obesity  alcohol  age  chd
row.names                                 ...
1          160    12.00  5.73      23.11  ...    25.30    97.20   52    1
2          144     0.01  4.41      28.61  ...    28.87     2.06   63    1
3          118     0.08  3.48      32.28  ...    29.14     3.81   46    0
4          170     7.50  6.41      38.03  ...    31.99    24.26   58    1
5          134    13.60  3.50      27.78  ...    25.99    57.34   49    1

[5 rows x 10 columns]

## Step 3: Choose features and set y

In [38]:
X=chd_data.iloc[:,:9]
y=chd_data.iloc[:,9]

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

##Step 4: Make model with scaled features using pipeline

In [40]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [43]:
chd_model = make_pipeline(StandardScaler(), LogisticRegression())
chd_model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

## Step 5: Test model

In [44]:
chd_model.score(X_test, y_test)

0.6982758620689655