<a href="https://colab.research.google.com/github/JDPrabasha/scikit/blob/main/HousingPricePredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

## Step 1: Import Data

In [10]:
url="https://raw.githubusercontent.com/JDPrabasha/scikit/main/melb_data.csv"
housing_data=pd.read_csv(url)
housing_data.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

## Step 2: Preprocess Data

In [11]:
housing_data=housing_data.dropna()

In [12]:
housing_data.head()

       Suburb          Address  ...             Regionname Propertycount
1  Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0
4  Abbotsford      55a Park St  ...  Northern Metropolitan        4019.0
6  Abbotsford     124 Yarra St  ...  Northern Metropolitan        4019.0
7  Abbotsford    98 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

## Step 3: Choose features

In [16]:
features=["Rooms","Landsize","BuildingArea"]
X=housing_data.loc[:,features]
y=housing_data.iloc[:,4]

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y)

## Step 4: Train Model

In [18]:
from sklearn.linear_model import LinearRegression
housing_model=LinearRegression().fit(X_train,y_train)

## Step 5: Test Accuracy

In [26]:
from sklearn.metrics import mean_absolute_error
predicted_prices = housing_model.predict(X_test)
mean_absolute_error(y_test, predicted_prices)

360680.12704238656

## Step 6: Try different algorithms

In [29]:
from sklearn import tree
housing_model2=tree.DecisionTreeRegressor().fit(X_train,y_train)
predicted_prices2 = housing_model2.predict(X_test)
mean_absolute_error(y_test, predicted_prices2)

453029.77537609794

In [30]:
from sklearn import svm
housing_model3 = svm.SVR().fit(X_train,y_train)
predicted_prices3 = housing_model3.predict(X_test)
mean_absolute_error(y_test, predicted_prices3)

448142.42995675374